@import "~arui-feather/main.css";
.App {
  text-align: center;
}

.row {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 768px;
  
}
.row-flex {
  display: flex;
  justify-content: center;
}
.col {
  padding: 0 16px;
  
}

.input__top{
  text-align: left;
}


table {
  width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
